html,
body {
    background: #353535;
    font-family: Hack, monospace;
    color: #eeeeee;
    height: 100%;
    overflow: hidden;
}
a {
    color: #eeeeee;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1rem;
}

.noscript-content {
    background: #333333;
    border-radius: 0.5rem;
    padding: 2rem;
    width: fit-content;
    height: fit-content;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}
.noscript-content > div {
    padding-bottom: 1rem;
}

.terminal{
    background-color: black;
    padding: 1rem;
    padding-bottom: 2rem;
    margin: 0;
    border-radius: 0.5rem;
    position: relative;
    height: 90%;
}
.terminal-controls {
    position: relative;
    z-index: 2;
    display: flex;
    margin-bottom: -1rem;
}
.terminal-title-container {
    text-align: center;
    position: absolute;
    margin: 0;
    width: 100%;
}

.terminal-content {
    background-color: black;
    font-family: Hack, monospace;
    font-size: 14;
    white-space: pre-wrap;
    width: 100%;
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    z-index: 1;
    height: 100%;
    overflow: hidden;
    word-wrap: break-word;
}
