body,
html {
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002b36;
}
.logo {
  padding-bottom: 0;
  width: 40vw;
  max-width: 20em;
  display: block;
  margin: 0 auto;
}
.title {
  font-family: monospace;
  font-size: 5em;
  text-align: center;
  color: #268bd2;
  display: block;
  padding: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
.container {
  margin: auto;
  max-width: 30em;
  min-width: 10px;
  background-color: #073642;
  border-radius: 0.5em;
  color: #eee8d5;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-family: Helvetica, Arial, sans-serif;
}
.main_content {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
}
.subtitle {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-top: 0.1em;
  padding-bottom: 1em;
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
}
.logo {
  background-image: url(logo_x.svg), none;
  scale: 200%;
}
.link_container {
  padding-top: 0.2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.btn {
  border: none;
  color: #268bd2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3em;
}
.btn_pad {
  width: 2.5vw;
  height: 0px;
}
