:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

html,
body {
  background: var(--base03);
  color: var(--base2);
  height: 100%;
  font-family: "Noto Sans", Helvetica, sans-serif;
  box-sizing: border-box;
  animation: hide-overflow-initial 5.5s steps(1);
  margin: 0;
  padding: 0;

  /*
  background: 
  repeating-linear-gradient(
    0deg,
    var(--base03),
    var(--base03) 1px
  ),
  repeating-linear-gradient(
      60deg,
      rgba(0,0,0,0),
      rgba(0,0,0,0) 4em,
      var(--base02) 4em,
      var(--base02) 6em
    ),
    repeating-linear-gradient(
      0deg,
      rgba(0,0,0,0),
      rgba(0,0,0,0) 4em,
      var(--base02) 4em,
      var(--base02) 6em
    ),
    repeating-linear-gradient(
      -60deg,
      rgba(0,0,0,0),
      rgba(0,0,0,0) 4em,
      var(--base02) 4em,
      var(--base02) 6em
    );

  background-blend-mode: lighten;
  */
}

@keyframes hide-overflow-initial {
  from {
    overflow: hidden;
  }
  to {
    overflow: initial;
  }
}

a {
  color: #eeeeee;
}

.logo-user {
  color: var(--cyan);
}

.logo-sep {
  color: var(--blue);
}

.logo-hostname {
  color: var(--cyan);
}

.logo-dir {
  color: var(--base1);
}

.logo-lc {
  color: var(--orange);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Hack", monospace;
  font-size: calc(90vw / 12);
  animation: logo-scaling 1.5s ease-in-out forwards 2s;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1ch solid var(--cyan); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  font-size: inherit;
  animation: typing 1.5s steps(12, end), blink-caret 0.5s step-end infinite;
}

.typewriter h2 {
  font: inherit;
}

@keyframes logo-scaling {
  from {
    height: 100%;
    font-size: calc(90vw / 12);
  }
  10% {
    font-size: calc(125vw / 12);
    height: 100%;
  }
  15% {
    font-size: calc(115vw / 12);
    height: 100%;
  }
  20% {
    font-size: calc(120vw / 12);
  }
  50% {
    font-size: calc(120vw / 12);
    height: 1.5em;
  }
  90% {
    font-size: calc(45vw / 12);
  }
  95% {
    font-size: calc(52vw / 12);
  }
  to {
    font-size: calc(50vw / 12);
    height: 1.5em;
  }
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 12ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--cyan);
  }
}

@keyframes link-flyin {
  from {
    opacity: 0%;
    margin: 0 10em;
  }
  75% {
    margin: 0 -0.5em;
  }
  92% {
    margin: 0 0.25em;
  }
  to {
    opacity: 100%;
    margin: 0;
  }
}

.links {
  padding: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 2rem;
  color: var(--blue);
}
.links a {
  text-align: center;
  width: fit-content;
  padding: 0 1em;

  opacity: 0;
  margin: 0 10em;
  animation: link-flyin 0.75s ease-out forwards 2.8s;
}

.fa-twitter {
  color: var(--blue);
}

.fa-github {
  color: var(--base3);
}

.fa-at {
  color: var(--orange);
}

.s-divider {
  border-color: var(--base01);
}

.s-greeting{
  padding: 0;
  margin: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.s-greeting div {
  overflow: hidden;
}
.s-greeting div p {
  opacity: 0;
  margin: 0.25em;
}
.s-greeting div p:nth-child(1) {
  animation: vertical-flyin-left 0.7s ease-out forwards 2.9s;
}

.s-greeting div p:nth-child(2) {
  animation: vertical-flyin-left 0.7s ease-out forwards 2.95s;
}

@keyframes vertical-flyin-left {
  from {
    opacity: 0%;
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(20%);
  }
  92% {
    transform: translateX(-2%);
    opacity: 30%;
  }
  to {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes vertical-flyin-right {
  from {
    opacity: 0%;
    transform: translateX(200%);
  }
  75% {
    transform: translateX(-20%);
  }
  92% {
    transform: translateX(2%);
    opacity: 30%;
  }
  to {
    opacity: 100%;
    transform: translateX(0%);
  }
}

.s-about {
  width: 100%;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-about p {
  max-width: min(90%, 30em);
  text-align: center;
}

.tech-title-wrapper {
  padding: 0;
  margin: 0;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.s-tech-wrapper {
  display: flex;
  justify-content: center;
  flex-shrink: 1;
}
.s-tech {
  font-size: 1.25em;
}

.b-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5em;
  background: var(--base02);
}

.lang {
  padding: 0.125em 0.5em;
  margin: 0.125em 0.5em;
  border-radius: 0.5em;
  font-size: 1.125em;
  margin-right: auto;
}

.b-other {
  padding: 0.125em 0.25em;
  margin: 0.125em 0.25em;
  border-radius: 0.25em;
  background: var(--base02);
  margin-left: auto;
}

.lang {
  display: inline-block;
}
.lang-python {color: var(--orange);}
.lang-js {color: var(--yellow);}
.lang-c {color: var(--blue);}
.lang-csharp {color: var(--cyan);}
.lang-java {color: var(--violet);}
.lang-shell {color: var(--red);}
.lang-perl {color: var(--blue);}

.projects-title-wrapper {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.projects-title {
  text-align: center;
  padding-top: 1rem;
  margin: 0;
  display: block;
  width: 100%;
  transform: translateY(500%);
  overflow: hidden;
  opacity: 0%;
  animation: flybottom-t 0.6s ease-out forwards 2.7s;
}

.s-projects {
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.s-projects div div {
  border-width: 0.1rem;
  border-radius: 0.5rem;
  border-color: var(--base01);
  background: var(--base02);
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.s-projects div h2 {
  text-align: center;
  animation: main-t 0.6s ease-out forwards 3s;
  transform: translateY(-500%);
  margin: 0;
}

.s-projects div div hr {
  border-color: var(--base01);
}

.hr-top {
  opacity: 0%;
  animation: hrtop-fadein 0.4s ease-out forwards 2.8s;
}

@keyframes hrtop-fadein {
  from {
    opacity: 0%;
    width: 0%;
  }
  75% {
    opacity: 100%;
    width: 110%;
  }
  92% {
    width: 93%;
  }
  to {
    opacity: 100%;
    width: 100%;
  }
}

@keyframes main-t {
  from {
    transform: translateY(-500%);
  }
  70% {
    transform: translateY(30%);
  }
  85% {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0%);
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: var(--base03);
  font-size: 0.75rem;
  transform: translateY(500%);
  opacity: 0%;
  animation: flybottom-t 1s ease-out forwards 3s;
}

footer div {
  padding: 0.5rem;
}

@keyframes flybottom-t {
  from {
    transform: translateY(500%);
    opacity: 0%;
  }
  70% {
    transform: translateY(-30%);
    opacity: 100%;
  }
  85% {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
    opacity: 100%;
  }
}

.hr-bottom {
  opacity: 0%;
  animation: hrbottom-fadeout 1s ease-in-out forwards 3.2s;
}

@keyframes hrbottom-fadeout {
  from,
  to {
    opacity: 0%;
    width: 0%;
  }
  20%,
  80% {
    opacity: 100%;
    width: 100%;
  }
}

.content {
  max-height: 0;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  animation: content-fadein 2s ease-in forwards 3.5s;
}

@keyframes content-fadein {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}

.contact .content {
  text-align: center;
}

.contact .content a {
  color: var(--cyan);
}
